<nav class="navbar navbar-expand-lg navbar-dark darkPrimary sticky-top">
    <a class="navbar-brand" href="/">Book.ly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/shoppingCart">Shopping Cart</a>
        </li>
        <%
        if(isAdmin){ %> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin-Menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/bookManager">Manage Books</a>
            <a class="dropdown-item" href="#">Manage Admins</a>
          </div>
        </li>
        <% } %>
      </ul>
      <% if(isAdmin) { %>
        <form action="/logout" method="POST" class="form-inline my-2 my-lg-0">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Logout</button>
      </form>
      <% } else { %>
        <form action="/login" method="POST" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="email" name="email" placeholder="Email" aria-label="Email" required>
          <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password" aria-label="Password" required>
          <button class="btn btn-dark my-2 my-sm-0" type="submit">Login</button>
        </form>
      <% } %>
      
    </div>
  </nav>

  