<%- include('partials/header.ejs') %>
<br>
<div class="container">
    <br>
    <% 
if(bookAdded) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Book Added Successfully!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% }
    if(bookUpdated) {%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Book Added Successfully!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% }
    if(bookDeleted) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Book Deleted Successfully!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% }
    if(login) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        You have been logged in!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <%}
    if (error) {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        There was an error with your request.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } 
    if (noRecords) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        There was no records found with that ISBN number
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <% } %>
    <br>
    <div class="row justify-content-md-center">
        <h2>Book Manager:</h2>
    </div>
    <div class="row justify-content-md-center">
        <p>This form will add a book if it doesn't find the FSBN number, or update the existing FSBN number. </p>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-6">
            <form action="/bookUpdate" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="1984" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="author">Author:</label>
                        <input type="text" class="form-control" id="author" name="author" placeholder="George Orwell"
                            required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="ISBN">ISBN: </label>
                        <input type="text" class="form-control" id="ISBN" name="ISBN" placeholder="9780451524935"
                            required>
                    </div>
                    <div class="form-group col">
                        <label for="genre">Genre:</label>
                        <input type="text" class="form-control" placeholder="Science Fiction" id="genre" name="genre">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="year">Year</label>
                        <input type="number" class="form-control" id="year" name="year">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="imageURI">imageURI: </label>
                        <input type="text" class="form-control" id="imageURI" name="imageURI" placeholder="">
                    </div>
                    <div class="form-group col">
                        <label for="stock">Number in Stock: </label>
                        <input type="number" class="form-control" id="stock" name="stock" placeholder="">
                    </div>
                </div>
                <div class="form-row">
                    <button type="submit" class="btn btn-primary" id="btnUpdateBook">Add/Update Book</button>
                    <div class="gorm-group col" id="addUpdateBook">

                    </div>
                </div>

            </form>
        </div>
    </div>
    <br>
    <hr>
    <div class="row justify-content-md-center">
        <h3>Delete Book:</h3>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-md-6">
            <form action="/bookDelete" method="POST">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="ISBN2">ISBN: </label>
                        <input type="text" class="form-control" id="ISBN2" name="ISBN2" placeholder="9780451524935"
                            required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Delete Book</button>
            </form>
        </div>
        <br>
    </div>
    <%- include('partials/footer.ejs') %>